body {
    text-align: center;
    background-color: #a9d7e9;
  }

  h1{
    font-size: 48px;
  }

  p{
    font-size: 22px;
  }
  
  .master-div{
    margin: auto;
    width: 800px;
    background-color: #f3f3f3;
    border-radius: 15px;
    padding: 20px 10px 10px 10px;
  }
  .form-rows{
    position: static;
    display: block;
    padding-top: 10px;
  }

  .labels{
    display: inline-block;
    text-align: right;
    width: 40%;
    padding: 1em;
    
    margin-top: 10px;
  }

  .fields{
    display: inline-block;
    text-align: left;
    width: 48%;
    vertical-align: middle;
  }

  .input-fields{
    height: 20px;
    width: 280px;
    padding: 5px;
    margin:10px;
    border : 1px solid  #c0c0c0;
    border-radius: 4px;
  }

  .dropdown{
    height:35px;
    width: 140px;
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
    border : 1px solid  #c0c0c0;
  }

  .fields_comment{
    width:280px;
    height: 50px;
    border : 1px solid  #c0c0c0;
    border-radius: 4px;
    padding: 5px;
    margin:10px;

  }

  .button{
    font-size: 1em;
    background-color: #6ba2ce;
    color: white;
    border:0px solid;
    border-radius: 4px;
    height: 40px;
    width: 80px;
  }

  input[type = "radio"] , input[type = "checkbox"]{
    margin-top: 10px ;
    margin-left: 15px;
  }